@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	font-family:"微軟正黑體";
	font-size:14px;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
.wallpaper{
	position:absolute;
	z-index:1;
    height: 100%;
    width: 100%;
	overflow:hidden;
}
.topbar{
	background:#00a2e3;
	width:100%;
	height:35px;
	position:fixed;
	z-index:2;
}
/*.topbar img:first-child+img*/#notice{
	margin:10px;
	float:right;
}
.chatroom{
	background:#fff;
	height:50%;
	max-width:300px;
	width:100%;
	position:fixed;
	bottom:0;
	right:5px;
	z-index:2;
	border: 1px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.chatroom-close{
	max-width:300px;
	width:100%;
	position:fixed;
	bottom:0;
	right:5px;
	z-index:2;
	border: 1px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.chatroom-close .cha-title{
	height:35px;
	background: url(../img/tit-chang.gif);
	line-height:35px;
	color:#fff;
	font-weight:bold;
	padding-left:10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.cha-title{
	height:35px;
	background:#00a2e3;
	line-height:35px;
	color:#fff;
	font-weight:bold;
	padding-left:10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.cha-title img{
	float:right;
	margin:12px 7px;
}
.cha-log{
	padding:10px;
	height:100%;
}
.other{
	margin-bottom:10px;
}
.other .cha-word{
	padding:5px;
	border-radius:5px;
	border:1px solid #CCC;
	background:#00a2e3;
	color:#fff;
	margin-bottom:10px;
}
.self{
	float:right;
	text-align:right;
	margin-bottom:10px;
	width:100%;
}
.self .cha-word{
	padding:5px;
	border-radius:5px;
	border:1px solid #CCC;
	background:#ccc;
	color:#666;
}
.chatroom .txt{
	position: absolute;
    bottom: 0;
    width: 95%;
    color: #999;
    padding: 7px;
    border: 1px solid #ccc;
}
#cover {
background: #16161e;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9995;
  top: 0;
  display: none;
  opacity: 0.5;
}
/*pop*/
#login {
  background:#00a2e3;
  max-width:320px;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -160px;
  z-index: 9999;
  display: none;
  opacity: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top:5%;
  height:60%;
}
#login .scr {
  position: relative;
  width: 320px;
  font-size: 15px;
  line-height: 40px;
}
#login .scr .txt{
    bottom: 0;
    width: 50%;
    color: #999;
    padding: 7px;
    border: 1px solid #ccc;
	border-radius:20px;
	margin-top:20px;
}
#login .scr .btn{
	width:80px;
	margin:auto;
	margin-top:20px;
	color:#fff;
	background:#00a2e3;
	border:1px solid #fff;
	border-radius:20px;
}
#login .scr .btn a{
	color:#fff;
	text-decoration:none;
}


#map-icon{
	position:absolute;
	left:500px;
	top:200px;
	z-index:2;
}
#map-icon2{
	position:absolute;
	left:600px;
	top:200px;
	z-index:2;
}
#task {
  background:#fff;
  max-width:320px;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -160px;
  z-index: 9999;
  display: none;
  opacity: 0;
  text-align: center;
  padding-bottom: 20px;
  border-radius:10px;
}
#task .scr {
  position: relative;
  width: 320px;
  font-size: 15px;
  line-height: 40px;
}
.task-inside .txt{
	margin-top:20px;
    bottom: 0;
    width: 70%;
    color: #999;
    padding: 7px;
    border: 1px solid #ccc;
	border-radius:20px;
}
.task-inside .txt2{
    bottom: 0;
    width: 30%;
	height: 15px;
    color: #999;
    padding: 7px;
    border: 1px solid #ccc;
	border-radius:20px;
}
.po-task .title{
	height:35px;
	background:#00a2e3;
	line-height:35px;
	color:#fff;
	font-weight:bold;
	padding-left:10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#task .scr .btn{
	width:80px;
	margin:auto;
	margin-top:20px;
	color:#00a2e3;
	border:1px solid #00a2e3;
	border-radius:20px;
}
#task .scr .btn a{
	color:#00a2e3;
	text-decoration:none;
}
.s-title{
	color: #999;
    height: 30px;
    margin-top: 10px;
}


#task-chack{
  background:#fff;
  max-width:320px;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -160px;
  z-index: 9999;
  display: none;
  opacity: 0;
  text-align: center;
  padding-bottom: 20px;
  border-radius:10px;
}
#task-chack .scr {
  position: relative;
  width: 320px;
  font-size: 15px;
  line-height: 40px;
}
#task-chack .scr .btn{
	width:80px;
	margin:auto;
	margin-top:20px;
	color:#00a2e3;
	border:1px solid #00a2e3;
	border-radius:20px;
}
#task-chack .scr .btn a{
	color:#00a2e3;
	text-decoration:none;
}
.task-inside ul li{
	text-align:right;
	padding:0 20px;
    font-size: 12px;
}
.task-inside ul li div{
	display:inline-block;
}
.task-inside ul li div+div{
	text-align:left;
	padding-left:10px;
	color: #999;
	width:65%;
}
a#notice_out{
    color:#fff;
    text-decoration:none;
    margin: 10px;
    float: right;
}